<div class="timeline-item">
  <div class="timeline-icon">
      <span class="badge"><span uk-icon="check"></span></span>
  </div>
  <div class="timeline-content">
      <div class="card mb-2 overflow-auto">
          <div class="card-header">
              <div class="d-flex justify-content-between">
                  <h3 class="card-title"><time datetime="2020-07-08">July 8</time></h3>
                  <span class="label">Feature</span>
              </div>
          </div>
          <div class="card-body">
            <p>Fully responsive timeline you can add to your UIkit 3 project</p>
          </div>
      </div>
  </div>
</div>
