<div class="uk-timeline">
  <div class="uk-timeline-item">
    <div class="uk-timeline-icon">
        <span class="badge"><fa-icon [icon]="faCheckCircle"></fa-icon></span>
    </div>
    <div class="uk-timeline-content">
        <div class="card card-default mb-2 overflow-auto">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">{{commit.date}}</h3>
                    <span class="label label-success margin-auto-left">{{commit.sha}}</span>
                </div>
            </div>
            <div class="card-body">
              <p class="uk-text-success">{{commit.message}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
