<h3>Public repositories</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let repository of repositories">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{repository.name}}</h5>
        <p class="card-text">{{repository.description}}</p>
      </div>
      <div class="card-footer d-flex justify-content-between bg-transparent">
        <span>{{repository.language}}</span>
        <a class="btn btn-primary" routerLink="/commits/{{repository.name}}">View commits</a>
      </div>
    </div>
  </div>
</div>
